# Application
PORT=8000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=flemme

# Minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminminio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=NfEwFUpx7V3DJm2IRFaa
MINIO_SECRET_KEY=FL47W1zWM9T99Zz9LbsTnvmTfmnhOv36gBGWGNun

# Session
SESSION_EXPIRATION_TIME=2592000000 # 30 jours

# JWT
JWT_SECRET=votre_jwt_secret_tres_securise
JWT_EXPIRES_IN=2592000000

# MAIL
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
MAIL_FROM=noreply@flemme.com
MAIL_SECURE=false
MAIL_IGNORE_TLS=true

# DEADLINE
TRACKING_ACCEPTANCE_DEADLINE_HOURS=48
TRACKING_COMPLETION_DEADLINE_HOURS=168
TRACKING_CONFIRMATION_DEADLINE_HOURS=48