# Application
HOST=localhost
PORT=8000
ALLOW_CORS_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=flemme

# Minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminminio

# JWT
ACCESS_TOKEN_SECRET=secret
ACCESS_TOKEN_EXPIRES_IN=30d