# Application
HOST=http://localhost
PORT=8000
ALLOW_CORS_URL=http://localhost:3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=flemme

# Minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminminio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Session
SESSION_EXPIRATION_TIME=2592000000 # 30 jours

# JWT
JWT_SECRET=votre_jwt_secret_tres_securise
JWT_EXPIRES_IN=30d

# MAIL
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
MAIL_FROM=noreply@flemme.com
MAIL_SECURE=false
MAIL_IGNORE_TLS=true
